snippet cb "A #-prefixed comment block"
#
#  Author: PB
#  Maintainer: PB
#  License: (c) HRDAG 2018, some rights reserved: GPL v2 or newer
#
# ${1:`git rev-parse --show-prefix`}
# -----------------------------------------------------------
#
# ${0:add a comment about this script}
#
# -----------------------------------------------------------




# done.
endsnippet
