snippet cba "A #-prefixed comment block for untyped files"
# -*- coding: utf-8 -*-
#
# Author: PB
# Maintainer(s): PB
# License: (c) HRDAG 20`! date +"%y"`, GPL v2 or newer
#
# `! projpath.py`/`!p snip.rv = fn`
# -----------------------------------------------------------
#
# ${0:add a comment about this script}
#
# -----------------------------------------------------------




# done.
endsnippet
