global !p
from snippet_helpers.py import *
endglobal


snippet cbm "A #-prefixed comment block for Makefiles" b
# -*- coding: utf-8 -*-
#
# Author: PB
# Maintainer(s): PB
# License: (c) HRDAG 20`! date +"%y"`, GPL v2 or newer
#
# `!p snip.rn = projpath(path) `
# -----------------------------------------------------------
#
.PHONY: all clean

clean:
	rm output/*

all: $0



# done.
endsnippet

